.img {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}

.item {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #425a60;
  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #0f0f0f;
  }
  &:first-child {
    margin-top: 35px;
  }
}
